@page
@model HW6MovieSharing.Pages_Movies.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Category)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.SharedWithFirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.SharedWithFirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.SharedWithLastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.SharedWithLastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.SharedWithEmailAddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.SharedWithEmailAddress)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.SharedDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.SharedDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Movie.Sharable)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Movie.Sharable)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Movie.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
