@page
@model HW6MovieSharing.Pages_Movies.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].SharedWithFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].SharedWithLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].SharedWithEmailAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].SharedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Sharable)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Movie) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharedWithFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharedWithLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharedWithEmailAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SharedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sharable)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
